@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
/*font : Urbanist (to create a sleek mood, maintain visual clarity, and enhance redability)*/

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #ffd662;
  text-align: center;
}

header h2 {
  font-size: 22px;
  font-weight: 500;
  color: white;
  background-color: #333d79;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
}

section {
  padding: 20px;
  border-radius: 12px;
}

section h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 12px;
  line-height: 1.4;
  color: #333d79;
}

section p {
  margin: 0 auto 30px;
  line-height: 1.6;
  max-width: 700px;
  text-align: left;
  font-size: 16px;
  color: #e65100;
  border-left: 3px solid #333d79;
  padding-left: 12px;
  font-weight: 400;
}

.thanks {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #333d79;
}

.thanks .heart {
  color: rgb(225, 56, 56);
}

.website-link {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
}

.website-link a {
  color: rgb(77, 74, 94);
  text-decoration: none;
  font-weight: 500;
}

.website-link a:hover {
  text-decoration: underline;
}
